# Ignore node_modules in the root directory
node_modules/

# Ignore .env files in the root directory
.env

# Ignore node_modules in the backend folder
backend/node_modules/

# Ignore .env files in the backend folder
backend/.env
